<div class="jumbotron">
    <div class="container">
        <h1>Employee Details</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form action="/" method="post" role="form" enctype="application/x-www-form-urlencoded">
                <legend>Enter Registration Information Here</legend>

                <div class="form-group">
                    <label for="emp-id">Emp_ID</label>
                    <input type="text" class="form-control" name="emp-id" id="emp-id" value="16104085">
                </div>

                <div class="form-group">
                    <label for="name">Emp-Name</label>
                    <input type="text" class="form-control" name="name" id="name" value="murshid">
                </div>

                <div class="form-group">
                    <label for="dept">Dept</label>
                    <input type="text" class="form-control" name="dept" id="email" value="Design">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>